<br><h3 class="text-center" >Editando <%= @dog.name %></h3><br>

<%= render 'form', dog: @dog %>

<div m-2>
  <%= link_to 'Retornar', dogs_path, class: "btn btn-primary font-weight-bold float-left", style: "margin-left:5px;color:white;" %>
  <%= link_to 'Mostrar', @dog, class: "btn btn-primary font-weight-bold float-left", style: "margin-left:5px;color:white;" %>
</div>